<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="newrelic-cordova-plugin" version="5.0.0">
  <name>NewRelic</name>
  <description>New Relic Cordova Plugin for iOS and Android</description>
  <author>New Relic</author>
  <license>New Relic</license>
  <keywords>cordova,newrelic,monitoring,ios,android</keywords>
  <engines>
      <engine name="cordova" version=">=4.0.0" />
      <engine name="cordova-ios" version=">=4.0.0" />
      <engine name="cordova-android" version=">=5.0.0" />
  </engines>

  <preference name="PLUGIN_VERSION" default="5.0.0" />

  <hook type="before_plugin_install" src="hooks/ios/before_plugin_install.js"/>

  <platform name="ios">
    <preference name="IOS_APP_TOKEN" default="x" />

    <config-file target="config.xml" parent="/*">
      <feature name="NewRelic">
        <preference name="IOS_APP_TOKEN" value="$IOS_APP_TOKEN"/>
        <preference name="PLUGIN_VERSION" value="$PLUGIN_VERSION"/>
        <param name="ios-package" value="NewRelicCordovaPlugin" onload="true"/>
      </feature>
    </config-file>

    <header-file src="src/ios/NewRelicCordovaPlugin.h" />
    <source-file src="src/ios/NewRelicCordovaPlugin.m" />

    <framework src="libs/ios/NewRelicAgent.framework" custom="true" />
    <framework src="CoreTelephony.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="libz.dylib" />
    <framework src="libc++.dylib" />

    <hook type="before_plugin_uninstall" src="hooks/ios/before_plugin_uninstall.js" />
    <hook type="after_plugin_install" src="hooks/ios/after_plugin_install.js" />
  </platform>

  <platform name="android">
    <preference name="ANDROID_APP_TOKEN" default="x" />
    <preference name="ANDROID_AGENT_VER" default="6.0.0" />

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="NewRelicCordovaPlugin">
        <param name="android-package" value="com.newrelic.cordova.plugin.NewRelicCordovaPlugin"/>
        <param name="onload" value="true"/>
      </feature>
      <preference name="ANDROID_APP_TOKEN" value="$ANDROID_APP_TOKEN"/>
      <preference name="PLUGIN_VERSION" value="$PLUGIN_VERSION"/>
    </config-file>

    <source-file src="src/android/NewRelicCordovaPlugin.java"
                 target-dir="src/com/newrelic/cordova/plugin"/>

    <hook type="before_plugin_uninstall" src="hooks/android/before_plugin_uninstall.js" />
    <hook type="after_plugin_install" src="hooks/android/after_plugin_install.js" />
  </platform>
</plugin>
